html,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(14px + 0.390625vw);
}

html {
  /* overflow-x: hidden; */
}

body {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  width: 100%;
  /* overflow-x: hidden; */
}

aside,
header,
footer,
article {
  display: block;
}

/* Typography */
h1 {
  font-size: 2.875em;
}

h2 {
  font-size: 2.625rem;
}

h3 {
  font-size: 2.375rem;
}

h4 {
  font-size: 2.125rem;
}

h5 {
  font-size: 1.875rem;
}
p {
  font-size: 1.5rem;
}

/* ====== UTILITIES =======*/

/* ===== Flex Utilities ===== */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.a-left {
  align-items: flex-start;
}

.j-align {
  justify-content: center;
}
.j-btw {
  justify-content: space-between;
}

/* ======= Text Utilities */
.t-center {
  text-align: center;
}
.t-mid {
  font-size: 1.25rem;
}
.t-sm {
  font-size: 1rem;
}

.w-100 {
  width: 100%;
}

.bold {
  font-weight: bold;
}

/* Media Query */
@media screen and (max-width: 586px) {
  html {
    font-size: calc(8px + 0.390625vw);
  }
}

@media screen and (max-width: 290px) {
  html {
    font-size: calc(4.5px + 0.390625vw);
  }
}
